.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.border{
    border: 2px solid red;
    margin: 3px;
}
.bg-black{
    background-color: black;
    color: white;
}
.bg-grey{
    background-color: #121212;
}
.invert{
    filter: invert(1);
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}



 ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
} 

::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
} 

 *{
  scrollbar-width: thin;
  scrollbar-color: #444 #1e1e1e;
}
